################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/GameConsole/bin/Debug
/GameConsole/obj/Debug
/gameConsole.Business/bin/Debug
/gameConsole.Business/obj/Debug
/gameConsole.Entities/bin/Debug
/gameConsole.Entities/obj/Debug
